@model BlogProject.Models.ViewModels.BlogDetailsViewModel
@{
    ViewData["Title"] = @Model.PageTitle;
}


<div class="container my-5">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <div class="row justify-content-center">
        <div class="col-12 col-lg-6" >
           @if(Model != null)
            {
                <h1 class="mb-3">@Model.Heading</h1>

                <div class="d-flex justify-content-between mb-3"> 
                    <span class="text-secondary">@Model.Author</span>
                    <span class="text-secondary">@Model.PublishedDate.ToShortDateString()</span>
                </div>

                <div class="mb-3 text-primary fw-bold text-center">
                    <i class="fas fa-thumbs-up"> </i> <span>@Model.TotalLikes</span>
                </div>

                <div class="mb-3 d-flex">
                    @foreach (var tag in Model.Tags)
                    {
                        <span class="badge bg-secondary me-1">@tag.Name</span>
                    }
                </div>

                <img src="@Model.FeaturedImageUrl" class="mb-3 d-block img-fluid" />

                <div class="mb-3 blog-details-content">
                    @Html.Raw(@Model.Content)
                </div>
            }
            else
            {
                <p class="text-center fw-bold">404 - Publicação não encontrada!</p>
            }
        </div>
    </div>
</div>